.linechart {
  padding: 8px;
}
.linechart_path {
  stroke-width: 3;
  fill: none;
}

.linechart_axis {
  stroke: #bdc3c7;
}

.linechart_point {
  fill: #fff;
  stroke-width: 2;
}

.linechart_area {
  padding: 8px;
  fill: #64B5F6;
  stroke: none;
  opacity: .4;
}

.linechart_label {
 fill: rgb(39, 89, 130);
 font-weight: 700;
}

.hoverLine {
  stroke: rgb(39, 89, 130);
  stroke-width: 1;
}
